{% extends "base.html.j2" %}

{% block title %}Willkommen{% endblock %}

{% block page_title %}Wahlsoftware 2{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="bg-secondary-subtle bg-gradient mb-5">
        <div class="container-fluid py-5">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-cols-4 g-3">
            <div class="col-12">
                <form class="row" onsubmit="handleLogin(event)">
                    <div class="col-4 offset-4">
                        <div class="row row-cols-1 g-3">
                            <div class="col">
                                <h4>Anmelden</h4>
                            </div>
                            <div class="col">
                                <label for="slot-select" class="form-label">Smartcard </label>
                                <select id="slot-select" class="js-choice">
                                    {% for slot in slots %}
                                        <option value="{{ slot.id }}">{{ slot.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <label for="pin-input" class="form-label">PIN</label>
                                <input class="form-control"
                                       type="password"
                                       id="pin-input"
                                       name="password"
                                       placeholder="PIN"
                                       autocomplete="off"
                                       autocapitalize="off"
                                       spellcheck="false">
                            </div>
                            <div class="col">
                                <button class="btn btn-primary w-100" type="submit">Anmelden</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const element = document.querySelector('.js-choice');

            if (element && !element.choices) {
                new Choices(element, {
                    searchEnabled: false,
                    shouldSort: true
                });
            }
        });

        function handleLogin(event) {
            event.preventDefault();
            const slotId = document.getElementById('slot-select').value;
            const password = document.getElementById('pin-input').value;

            if (!slotId) {
                alert('Bitte SmartCard auswählen!');
                return;
            }
            if (!password) {
                alert('Bitte PIN eingeben!');
                return;
            }
            loadView('auth_login', {
                'slot_id': slotId,
                'password': password
            });
        }
    </script>
{% endblock %}